*, html {
    box-sizing: border-box;
    margin: none;
    padding: none;
    font-family: 'Roboto', sans-serif;
}
:root {
    --dark-grey: #1f2937;
}
body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    
}

/* HEADER SECTION */
header {
    padding: 1em 8em 0 8em;
    display: flex;
    align-self: center;
    width: 90%;
    background-color: var(--dark-grey);

}
.logo {
    padding-bottom: 10px;
    color: white;
    font-weight: 800;
    font-size: 1.8rem;
    width: 200px;
       
}
.h-link {
    color: #ffffff;
    width: 20%; 
    text-decoration: none;  
}
.link-group {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding: 0 10% 0 10%;
    height: 500px;
    align-self: center;
    width: 90%;
    background-color: var(--dark-grey);
    
}
.hero-left h1 {
    font-size: 3em;
    width: 500px;
}

h1 {
    color: #ffffff;   
    flex: .5;
}

.hero-paragraph {
    max-width: 500px;
    font-size: 1.3rem;
    color: #d8d6d6;
}
.hero-btn {

    width: 150px;
    height: 50px;
    background-color: #3b82f6;
    color: white;
    font-size: 1.2rem;
    border-radius: 15px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    background-color: grey;
    color: white;
    align-self: center;
}
/* SECTIONS */

.section-2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 10px;
    padding: 0 10% 0 10%;
    height: 500px;
    width: 90%;
    background-color: white;
}
.sec2-header {
    align-self: center;
    color: var(--dark-grey);
    font-size: 2.2rem;
    letter-spacing: -.1rem;
   

}

.sec2-container{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 85%;
   
   
    
    
   
    

}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: black;
    border: solid 0.3em;
    border-color: red;
    border-radius: 15px;
}
.box p {
    color: red;
    position: absolute;
    left: 20px;
    top: 190px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 10px;
    padding: 0 10% 0 10%;
    height: 500px;
    width: 90%;
    background-color: #e5e7eb;
}