*, html {
    box-sizing: border-box;
    margin: none;
    padding: none;
    font-family: 'Roboto', sans-serif;
}
:root {
    --dark-grey: #1f2937;
    --btn: #3882f6;
}
body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    
}

/* HEADER SECTION */
header {
    padding: 1em 8em 0 8em;
    display: flex;
    align-self: center;
    width: 90%;
    background-color: var(--dark-grey);

}
.logo {
    padding-bottom: 10px;
    color: white;
    font-weight: 800;
    font-size: 1.8rem;
    width: 200px;
       
}
.h-link {
    color: #ffffff;
    width: 17%; 
    text-decoration: none;  
    font-size: 1.2rem;
}
.link-group {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding: 0 10% 0 10%;
    height: 500px;
    align-self: center;
    width: 90%;
    background-color: var(--dark-grey);
    
}
.hero-left h1 {
    font-size: 3em;
    width: 500px;
}

h1 {
    color: #ffffff;   
    flex: .5;
}

.hero-paragraph {
    max-width: 500px;
    font-size: 1.3rem;
    color: #e5e7eb;
}
.hero-btn {

    width: 150px;
    height: 50px;
    background-color: var(--btn);
    color: white;
    font-size: 1.2rem;
    border-radius: 15px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    background-color: grey;
    color: white;
    align-self: center;
}
/* SECTIONS */

.section-2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 10px;
    padding: 0 10% 0 10%;
    height: 500px;
    width: 90%;
    background-color: white;
}
.sec2-header {
    align-self: center;
    color: var(--dark-grey);
    font-size: 2.2rem;
    letter-spacing: -.1rem;
   

}

.sec2-container{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 85%;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: black;
    border: solid 0.3em;
    border-color: red;
    border-radius: 15px;
}
.box p {
    color: red;
    position: absolute;
    left: 20px;
    top: 190px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 10px;
    padding: 2% 10% 0 10%;
    height: 380px;
    width: 90%;
    background-color: #e5e7eb;
}


.section-3 p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f2937;
    align-self: center;
    width: 60%;
    font-size: 36px;
}

.byline {
    margin-top: -10px;
    font-size: 36px;
    font-weight: 700;
    text-align: end;
}

.section-4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding: 0 10% 0 10%;
    height: 380px;
    width: 90%;
    background-color: white;
}
.box-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 150px;
    padding: 0 100px 0 100px;
    background-color: var(--btn);
    color: white;
    border-radius: 10px;
    
}
.btn-footer {
    width: 150px;
    height: 50px;
    background-color: var(--btn);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 15px;
    border-width: 3px;
}

.cta-container {
   position: relative;
   width: 60%;
}
h5 { 
    margin-top: 0px;
    font-size: 1.45rem;
    font-weight: 700;
}
.sign {
    position: absolute;
    top: 20px;
    font-size: 1.1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding: 0 10% 0 10%;
    height: 80px;
    width: 90%;
    background-color: var(--dark-grey);  
    color: white;
}